<div class="row">
    <form class="col s12">
        <ul class="collapsible expandable">
            <li class="active">
                <div class="collapsible-header"><i class="material-icons prefix">work</i> Información del vendedor</div>
                <div class="collapsible-body col s12">
                    <blockquote class="col s12" style="border-color: lightblue">
                        <div class="row">
                            <div class="input-field col s6 m3">
                                <input id="vendedor_canal" type="text" class="validate">
                                <label for="vendedor_canal">Tipo</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="vendedor_codigo" type="number" class="validate">
                                <label for="vendedor_codigo">Código</label>
                            </div>
                            <div class="input-field col s12 m6">
                                <input id="vendedor_nombre" type="text" class="validate">
                                <label for="vendedor_nombre">Nombre</label>
                            </div>

                            <div class="input-field col s6 m3">
                                <input id="vendedor_canalVenta" type="text" class="validate">
                                <label for="vendedor_canalVenta">Canal Comercial</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="vededor_movil" type="number" class="validate">
                                <label for="vededor_movil">Móvil</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="vendedor_correo" type="email" class="validate">
                                <label for="vendedor_correo">E-mail</label>
                                <span class="helper-text" data-error="¡Email inválido!" data-success="right"></span>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="vendedor_regional" type="text" class="validate">
                                <label for="vendedor_regional">Regional</label>
                            </div>
                            <div class="input-field col s6 m6">
                                <input id="vendedor_codAgente" type="number" class="validate">
                                <label for="vendedor_codAgente">Cod. Agente</label>
                            </div>
                            <div class="input-field col s6 m6">
                                <input id="vendedor_nomAgente" type="text" class="validate">
                                <label for="vendedor_nomAgente">Agente</label>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons prefix">business</i> Información del Cliente</div>
                <div class="collapsible-body col s12">
                    <blockquote class="col s12">
                        <div class="row">
                            <div class="input-field col s6 m3">
                                <input id="cliente_tipoIdentidad" type="text" class="validate">
                                <label for="cliente_tipoIdentidad">Tipo Identidad</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="cliente_identidad" type="text" class="validate" placeholder="Número">
                                <label for="cliente_identidad">Identidad</label>
                            </div>
                            <div class="input-field col s6 m6">
                                <input id="cliente_razonSocial" type="text" class="validate">
                                <label for="cliente_razonSocial">Razón Social</label>
                            </div>

                            <div class="input-field col s6 m3">
                                <input id="cliente_departamento" type="text" class="validate">
                                <label for="cliente_departamento">Departamento</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="cliente_ciudad" type="text" class="validate">
                                <label for="cliente_ciudad">Ciudad</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="cliente_tipoCalle" type="text" class="validate">
                                <label for="cliente_tipoCalle">Tipo de Calle</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="cliente_direccion" type="text" class="validate">
                                <label for="cliente_direccion">Dirección</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="cliente_complemento" type="text" class="validate">
                                <label for="cliente_complemento">Complemento</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="cliente_numFijo" type="text" class="validate">
                                <label for="cliente_numFijo">Teléfono</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="cliente_correo" type="text" class="validate">
                                <label for="cliente_correo">E-mail</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="cliente_fechaNacimiento" type="text" class="validate">
                                <label for="cliente_fechaNacimiento">Fecha Consitución</label>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">event_seat</i>Información de Representante Legal</div>
                <div class="collapsible-body col s12">
                    <blockquote class="col s12">
                        <div class="row">
                            <div class="input-field col s6 m3">
                                <input id="replegal_tipoIdentidad" type="text" class="validate">
                                <label for="replegal_tipoIdentidad">Tipo Identidad</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="replegal_identidad" type="text" class="validate">
                                <label for="replegal_identidad">Identidad</label>
                            </div>
                            <div class="input-field col s6 m6">
                                <input id="replegal_nombre" type="text" class="validate">
                                <label for="replegal_nombre">Nombre</label>
                            </div>
                            <div class="input-field col s6 m6">
                                <input id="replegal_apellido" type="text" class="validate">
                                <label for="replegal_apellido">Apellido 1</label>
                            </div>
                            <div class="input-field col s6 m6">
                                <input id="replegal_apellido2" type="text" class="validate">
                                <label for="replegal_apellido2">Apellido 2</label>
                            </div>
                            <div class="input-field col s6 m6">
                                <input id="replegal_celular" type="text" class="validate">
                                <label for="replegal_celular">Celular</label>
                            </div>
                            <div class="input-field col s6 m6">
                                <input id="replegal_fijo" type="text" class="validate">
                                <label for="replegal_fijo">Fijo</label>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">folder_open</i>Información de Solicitud</div>
                <div class="collapsible-body col s12">
                    <blockquote class="col s12">
                        <div class="row">
                            <div class="input-field col s6 m3">
                                <input id="solicitud_tipo" type="text" class="validate">
                                <label for="solicitud_tipo">Tipo Solicitud</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="solicitud_tipoContrato" type="text" class="validate">
                                <label for="solicitud_tipoContrato">Tipo de Contrato</label>
                            </div>
                            <div class="input-field col s6 m6">
                                <input id="solicitud_marcacion" type="text" class="validate">
                                <label for="solicitud_marcacion">Marcación Especial</label>
                            </div>

                            <div class="input-field col s6 m3">
                                <input id="solicitud_tipoVenta" type="text" class="validate">
                                <label for="solicitud_tipoVenta">Tipo Venta</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="solicitud_lineas" type="text" class="validate">
                                <label for="solicitud_lineas">Cantidad Líneas</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="solicitud_pedido" type="text" class="validate">
                                <label for="solicitud_pedido">Pedido</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="solicitud_numContrato" type="text" class="validate">
                                <label for="solicitud_numContrato">Número de Contrato</label>
                            </div>
                            <div class="input-field col s12">
                                <input id="solicitud_notas" type="text" class="validate">
                                <label for="solicitud_notas">Observaciones del FUN</label>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </li>
            <li>
                <div class="collapsible-header"><i class="material-icons">group_add</i>Información de Portabilidad</div>
                <div class="collapsible-body col s12">
                    <blockquote class="col s12">
                        <div class="row">
                            <div class="input-field col s6 m3">
                                <input id="portabilidad" type="text" class="validate">
                                <label for="portabilidad">Portabilidad</label>
                            </div>
                            <div class="input-field col s6 m3">
                                <input id="portabilidad_operador" type="text" class="validate">
                                <label for="portabilidad_operador">Operador</label>
                            </div>
                            <div class="input-field col s6 m6">
                                <input id="portabilidad_fecVentana" type="text" class="validate">
                                <label for="portabilidad_fecVentana">Fecha Ventana de Cambio</label>
                            </div>

                            <div class="input-field col s6 m3">
                                <input id="portabilidad_fecVentana" type="text" class="validate">
                                <label for="portabilidad_fecVentana">Negocio Atado</label>
                            </div>
                        </div>
                    </blockquote>
                </div>
            </li>
        </ul>
    </form>
</div>
