<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <appSettings>
        <add key="ModeDeveloper" value="false"/>
        <add key="ModeTest" value="false"/>
        <add key="ModeTestSCL" value="false"/>
        <add key="horaInicialCE" value="1700"/>
        <add key="horaFinalCE" value="2000"/>
        <add key="horaInicialRE" value="2300"/>
        <add key="horaFinalRE" value="2359"/>
        <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
      </appSettings>
</configuration>